#### template file names ####
tmpl_bean	beanTemplate.java
tmpl_ejbif	ejbifTemplate.java
tmpl_ejb	ejbTemplate.java
tmpl_bl	blTemplate.java

#### weblogic match block regex ####
weblogicInsertionBlockRegex	([ \t]+<weblogic-enterprise-bean>(.|\n)*?<ejb-name>)(.+?)(EJB.*?</ejb-name>(.|\n)*?<\/weblogic-enterprise-bean>)
#### weblogic insertion point regex ####
weblogicInsertionPointRegex	([ \t]*<\/weblogic-ejb-jar>)

#### JBoss match block regex ####
jbossInsertionBlockRegex	([ \t]+<session>(.|\n)*?<ejb-name>)(.+?)(EJB.*?</ejb-name>(.|\n)*?<\/session>)
#### JBoss insertion point regex ####
jbossInsertionPointRegex	([ \t]*<\/enterprise-beans>)

#### string to replace with class name in template files ####
tmpl_className	tmpl_className
#### string to replace with package name in template files ####
tmpl_package	tmpl_package

#### package prefix ####
packagePrefix	com.loxon.collection.
#### project package ####
packageProject	ing.

#### default project to show in window ####
defaultProject	P:/Collection.INGPL/collection-ing-product

#### default paths ####
srcPath	src/main/java/
jbossEjb	src/main/resources/META-INF/jboss-ejb3.xml
weblogicEjb	src/main/resources/META-INF/weblogic-ejb-jar.xml

#### List custom variables to replace in template files ####
customVariablesToReplace	asdfghjj
#### define what to replace custom variables with ####
asdfghjj	1